body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header, main, aside {
    padding: 20px;
  }
  
  header {
    background-color: #f0f0f0;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .product {
    border: 1px solid #ccc;
    padding: 10px;
    width: 250px;
  }

  .product-image {
  width: 200px; 
  height: 200px; 
  object-fit: cover;
  border: 1px solid #ccc; 
}

@media (max-width: 768px) {
  main {
    justify-content: center;
  }
  .product {
    width: 100%;
  }
}
